#contact_buttons {
    display: flex;
    justify-content: space-evenly;
    width: 40%;
    margin: auto;
    padding-bottom: 60px;
}

#contact_me > h2{
    padding-bottom: 60px;
}

#contact_buttons > button{
    width: 30%;
}

