@import url('https://fonts.googleapis.com/css2?family=Silkscreen&display=swap');

@import 'https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300';

/*hr-top includes the logo and the Navagation bar*/
#hr-top{
    display: flex;
    padding-bottom: 40px;
    font-family: 'Silkscreen', cursive;
}

#hr-top > p{
    font-size: 3em;
    font-size: 4vw;
    margin: auto;
}

#Navigation{
    width: 70%;
    padding-top: 1%;
    padding-right: 5%;

    font-size: 1.15em;
    font-size: 1.15vw;
}

#Navigation > ul{
    float: right;
}

ul > a:link{
    text-decoration: none;
}

@media (max-width: 900px){

    /* #hr-top{
        display: flex;
        margin-bottom: 15%;
    } */

    #Navigation{
      display: none;
      color: red;
      visibility: hidden;
      background-color: red;
    }

    #hr-top > p{
        margin: auto;
        margin-left: 5%;
    }
}
