#skills > ul{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 40px;
    grid-auto-rows: auto;
    height: auto;
    list-style: none;
    width: 60%;
    margin: auto;
}

#skills > ul > li{
    height: 75px;
    width: 75px;
    transition: all 0.3s ease-in-out;
}

#skills > ul > li:hover{
    transform: scale(1.5);
    background-color: #424242;
    border-radius: 25%;
    padding: 10px;
}