.App {
  text-align: center;
}

#app_header{
  padding-bottom: 50px;
}

#app_body{
  width: 80%;
  margin: auto;
  display: grid;
  gap: 25px;
}

h2{
  width: 80%;
  margin: auto;
  font-size: 2em;
  padding-bottom: 40px;
}
