.App {
  text-align: center;
}

#app_header{
  padding-bottom: 50px;
}

#app_body{
  width: 80%;
  margin: auto;
}

h2{
  width: 80%;
  margin: auto;
  font-size: 2em;
  padding-bottom: 20px;
}

/* body{
  background-color: black;
  color: white;
} */

.CardMedia{
  width: auto;
  height: auto;
}